@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Full background image setup */
body {
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}


.home {
    background-color: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
    color: white;
    padding: 100px 20px;
}